#!/bin/bash

# Add credential helper to pull from ECR
mkdir -p ~/.docker && chmod 0700 ~/.docker
echo '{"credsStore": "ecr-login"}' > ~/.docker/config.json

# Start docker now and enable auto start on boot
sudo systemctl start docker
sudo systemctl enable docker

sudo docker pull ${id}.dkr.ecr.${region}.amazonaws.com/${repo}:latest

# Run application at start
sudo docker run --restart=always -d -p ${PORT_1}:${PORT_2} ${id}.dkr.ecr.${region}.amazonaws.com/${repo}:latest
